{% extends 'base.html.twig' %}

{% block title %}Edit Rechargetel{% endblock %}

{% block body %}
    <h1>Edit Rechargetel</h1>

    {{ include('rechargetel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rechargetel_index') }}">back to list</a>

    {{ include('rechargetel/_delete_form.html.twig') }}
{% endblock %}
