{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_page') }}">back to list</a>
</div>

{% endblock %}
