{% extends 'base.html.twig' %}
{% block title %}New User{% endblock %}
{% block body %}
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 50vh;">

        {{ include('user/_form.html.twig') }}
    <a href="{{ path('app_home') }}">back home</a>
    </div>
{% endblock %}